body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
}

.quoteBox {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 500px;
  border-radius: 10px;
  margin: auto;
  background-color: #ffbb00;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flatbutton {
  color: #9b7014;
  border: none;
  /* font-weight: bold; */
  font-size: 20px;
  align-self: flex-end;
  height: 60px;
  width: 130px;
  border-radius: 10px; 
  background-color: #f1d3d156;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quote {
  vertical-align: middle;
  border-radius: 10px;
  height: 55%;
  width: 90%;
  margin: auto;
  font-size: 25px;
  color: white;
}

.icon-twitter {
  font-size:48px;
  color: rgb(81, 81, 211);
}

.bottom-row {
  padding: 10px 30px 20px 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
